#hero {
  background-image: url("./psychologybg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
}
navbar-dark.color-changed {
  background-color: rgba(88, 87, 87, 0.822) !important;
}
#overlay {
  background-image: linear-gradient(
    to right,
    rgba(20, 20, 20, 0.815),
    rgba(139, 138, 138, 0.705)
  );
  padding: 0px;
  margin: 0px;
  min-width: 100vw;
  min-height: 100vh;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#tagline {
  margin-top: 10%;
  margin-left: 10%;
}
#makeappointment {
  box-shadow: 0 0.5rem 1rem 0 rgb(2, 9, 20);
}
#firstpart {
  font-size: 50px;
}
#secondpart {
  font-size: 50px;
}
